<<<<<<< HEAD
<h2 align="center">Workouts</h2>
<p>Name: <%= @workout.name %></p>
=======


<h2 align="center"><i class="fas fa-user"></i><%= @workout.user.name %>'s Workout</h2>

<p><i class="fas fa-dumbbell"></i><%= @workout.name %></p>
>>>>>>> 3bf400c27f7267f6ada2812efe0146252ce99e2c
<p>Description: <%= @workout.description %></p>

<% if current_user == @workout.user %>
      <a href="/workouts/<%= @workout.id %>/edit"><input type="submit" class="button" value="Edit"></a>
      <br>
        <form action="/workouts/<%= @workout.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" class="button" name="" value="Delete">
        </form>
 <% end %>
 
