

<h2>Workouts</h2>
<% if flash[:message] %>
 <h4><%= flash[:message] %></h4>
 <% end %>
 <br><br>
<p><%= @workout.name %> <%= @workout.description %></p>


<% if current_user == @workout.user %>

      <a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>
      <br></br>
      <form action="/workouts/<%= @workout.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete this Workout">
    </form>
 <% end %>
 
