<h2 align="center"><i class="far fa-user"></i><%= @workout.user.name %> Workout</h2>
<p>Workout Name: <%= @workout.name %></p>
<p>Description: <%= @workout.description %></p>

<% if current_user == @workout.user %>
      <a href="/workouts/<%= @workout.id %>/edit"><input type="submit" class="button" value="Edit"></a>
      <br>
        <form action="/workouts/<%= @workout.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" class="button" name="" value="Delete">
        </form>
 <% end %>
 
